.coin {
    overflow: auto;
    height: 300px;
    position: relative;
    background: #13161f;
    border-radius: 4px;
    border: 1px solid #583912;
    transition: all .3s;
}

@media (min-width: 768px) {
    .coin {
        height: 600px;
    }
}

.coin__button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0 0 0 5px;
    transition: .3s;
}

.coin__button:hover {
    opacity: .5;
    transform: scale(1.3);
}

.coin-container {
    display: grid;
    align-items: center;
    grid-template-columns: 50px repeat(4, 1fr);
    color: #fff;
    grid-gap: 10px;
    margin-bottom: 1px;
    border-radius: 4px;
    padding: 10px;
    min-width: 760px;
    transition: all .1s;
}

.card.coin-container:nth-child(even) {
    background: #090C14;
}

.card.coin-container:hover {
    background: #1d2536;
}

.coin__header {
    background: #000;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: #F7931A;
    z-index: 1;
}

.coin__item {
    padding: 0 10px;
}
