body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #090C14;
  color: #F7931A;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

main {
  padding: 20px;
}


.button {
  border: 1px solid #F7931A;
  background: transparent;
  color: #F7931A;
  cursor: pointer;
  padding: 12px 15px;
  transition: all .25s;
  min-width: 150px;
}

.button:hover {
  border: 1px solid #F7931A;
  background: #F7931A;
  color: #090C14;
}

.button:disabled {
  opacity: .4;
}
.button:disabled:hover {
  border: 1px solid #F7931A;
  background: transparent;
  color: #F7931A;
  cursor: initial;
}

.button + .button {
  margin-left: 10px;
}
